<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Access denied</title>

    <link rel="stylesheet" th:href="@{/bootstrap-5.2.3-dist/css/bootstrap.min.css}">
    <script th:src="@{/jquery-3.6.0-min/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/bootstrap-5.2.3-dist/js/bootstrap.min.js}"></script>
    <style>
.message {
	color: red;
}
</style>
</head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Access denied</title>

</head>
<body>
<h3>Access denied!</h3>
</body>
</html>