<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Booking now</title>

    <link rel="stylesheet" th:href="@{/bootstrap-5.2.3-dist/css/bootstrap.min.css}">
    <script th:src="@{/jquery-3.6.0-min/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/bootstrap-5.2.3-dist/js/bootstrap.min.js}"></script>


</head>
<body>
<div th:replace="auth/generic-nav :: genericNav"></div>

<div class="container"></div>
<H1>Hello User</H1>

<p >Book your appointment now,
    <a href="https://calendly.com/leticiaqueirooz/nail_lounge_booking">here!</a>
</p>
</body>
</html>